.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(rgb(192, 172, 108, 0.774), rgb(255, 255, 255));

}

.footer-iso {
    font-size: 2rem;
    font-family: 'New Rocker';
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px rgb(8, 0, 0);
    text-transform: uppercase;

}

.rights-reserved {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 2px rgb(172, 166, 166);
    color: rgb(0, 0 ,0);

}


.footer-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 100%;
    height: 100%;

}

.footer-nav-links {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 70%;
    height: 120px;

}

.link {
    display: flex;
    text-align: center;
    align-self: center;
    margin-left: 0px;
    text-shadow: 1px 2px rgb(172, 166, 166);
    color: rgb(167, 5, 5);

}

a:hover.link {
    border-style: solid;
    border-right:rgb(0, 0, 0);
    border-top: rgb(8, 0, 0);
}

@media screen and ( max-width: 1060px) {
    .footer-nav-links {
        display: table-footer-group;
        justify-content: center;
        align-self: center;
        column-count: 3;
        column-gap: 1px;
        padding-left: 0%;
        padding-bottom: 0%;
    }
    .footer-nav {
        display: flex;
        justify-items: center;
        align-self: center;
        text-align: center;
    }

    .link {
        justify-content: center;

    }
}

@media screen and ( max-width: 600px ) {
    .rights-reserved{
        font-size: auto;
    }

    .footer-nav-links {
        justify-content: center;
        align-content: center;
        text-align: center;
        column-count: 2;
    }

}