.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(rgb(192, 172, 108, 0.774), rgb(255, 255, 255));

}

.footer-iso {
    font-size: 2rem;
    font-family: 'New Rocker';
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px rgb(8, 0, 0);
    text-transform: uppercase;

}

.rights-reserved {
    text-align: center;
    font-weight: bold;
    color: rgba(255, 251, 251, 0.685);
    text-shadow: rgb(0, 0 ,0);

}

.footer-nav-links {
    font-weight: bold;
    text-shadow: rgb(141, 138, 138);
}