
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    padding: 1px;

}

.return-home-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    height: 100%;
    font-weight: bold;
    background-color: rgb(78, 31, 31);

}

.home-btn {
    color: rgb(250, 254, 255);
}

a:hover.home-btn {
    color: rgb(78, 31, 31);
    background-color: rgb(250, 254, 255);
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 35%;

}

.img-logo {
    height: 30px;
    width: 35px;
    margin-right: 10px;
}

.iso-logo {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    font-style: oblique;
    font-weight: bold;
    width: 55%;
    height: 100%;
}